<%= render partial: "mobile_nav"%>


 <div id=comicPanel>
  <img id="panelFrame" src="./images/frame.png">
    <%= render partial: "panel1"%>
    <%= render partial: "panel2"%>
    <%= render partial: "panel3"%>
    <%= render partial: "panel4"%>
    <%= render partial: "panel5"%>
    <%= render partial: "panel6"%>
    <%= render partial: "final_panels"%>
</div>
<%= render partial: "modals"%>
